/.settings/
/target/
/node_modules/
/.classpath
/.project
/.tern-project
**/node_modules
*.iml
.idea/
/package.json

/api/.settings/
/api/target/
/api/node_modules/
/api/.classpath
/api/.project
/api/.tern-project
/api/package.json

/provider/.settings/
/provider/target/
/provider/node_modules/
/provider/.classpath
/provider/.project
/provider/.tern-project
/provider/package.json

/consumerone/.settings/
/consumerone/target/
/consumerone/node_modules/
/consumerone/.classpath
/consumerone/.project
/consumerone/.tern-project
/consumerone/package.json

